[Unit]
Description=MiniDSP CAN Bus translator service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/minidsp/minican.py /opt/minidsp/minican.ini
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
